<head>
  <title>Check Origin IFrame</title>
</head>
<body>
  
  <form method="post" action="/oauth2/co/session">
  	<input type="hidden" name="token" value="<%= token %>"/>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
  </form>
  
	<script type="text/javascript">
    
    (function(window, document) {
      console.log('set session iframe ready...')
      
      
      window.addEventListener('message', function (evt) {
        switch (evt.data.type) {
        case 'co_verifier_response':
          var node = document.createElement('input');
          node.setAttribute('type', 'hidden');
          node.setAttribute('name', 'co_verifier');
          node.setAttribute('value', evt.data.verifier);
          document.forms[0].appendChild(node);
          document.forms[0].submit();
          break;
        }
      });
      
      console.log('opener:');
      console.log(window.opener);
      console.log('parent:');
      console.log(window.parent);
      
      // http://stackoverflow.com/questions/36499719/sending-postmessage-via-iframe-and-open-window-in-safari
      
      if (window.parent === window) {
        console.log('ITS OWN WINDOW!');
      }
      
      
      if (window.opener) {
        window.opener.postMessage({ type: 'co_verifier_request' }, 'http://localhost:3001');
      }
      
    })(this, this.document);
    
	</script>
</body>
    