<head>
  <title>Verify Iframe</title>
</head>
<body>
  <script type="text/javascript">
    (function(window) {
      // TODO: Get origin from param
      var origin = 'http://127.0.0.1:8080'
        , verifier;
      
      window.addEventListener('message', function(evt) {
        switch (evt.data.type) {
        case 'co_verifier_request':
          verifier = sessionStorage.getItem('co_verifier');
          // TODO: Remove verifier from storage.
          // TODO: Get verifier key by origin.
          
          event.source.postMessage({
            type: 'co_verifier_response',
            response: {
              verifier: verifier
            }
          }, evt.origin);
          break;
        }
      });
      
      window.parent.postMessage({ type: 'ready' }, origin);
    })(this);
  </script>
</body>
