<head>
  <title>Verify Iframe</title>
</head>
<body>
  
	<script type="text/javascript">
    
    (function(window, document) {
      console.log('verify iframe ready...')
      
      
      window.addEventListener('message', function (evt) {
        console.log('GOT MESSAGE!');
        console.log(evt.origin);
        console.log(evt.data);
        
        switch (evt.data.type) {
        case 'co_verifier_request':
          var verifier = sessionStorage.getItem('co_verifier');
          event.source.postMessage({
            type: 'co_verifier_response',
            verifier: verifier // TODO: Align this with wmrm
          }, 'http://127.0.0.1:8080');
          break;
        }
      });
      
      var origin = 'http://127.0.0.1:8080'
      
      window.parent.postMessage({ type: 'ready' }, origin);
      
    })(this, this.document);
    
	</script>
</body>
