<head>
  <title>Verify Iframe</title>
</head>
<body>
  
	<script type="text/javascript">
    
    (function(window, document) {
      console.log('verify iframe ready...')
      
      
      window.addEventListener('message', function (evt) {
        console.log('GOT MESSAGE!');
        console.log(evt.origin);
        console.log(evt.data);
        
        /*
        switch (evt.data.type) {
        case 'co_verifier_response':
          var node = document.createElement('input');
          node.setAttribute('type', 'hidden');
          node.setAttribute('name', 'co_verifier');
          node.setAttribute('value', evt.data.verifier);
          document.forms[0].appendChild(node);
          document.forms[0].submit();
          break;
        }
        */
      });
      
    })(this, this.document);
    
	</script>
</body>
